* a{
  text-decoration: none;
}

.contact{
  display: flex;
}

.contact img{
  margin: auto auto;

}

.contact ul{
  font-size: 18px;
  list-style: none;
  margin-right: 10px;
}

.contact a{
  color: white;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 20px;
  padding: 20px;
  background-color: #98f880fd;
}

.catchcopy{
  position: relative;
  background-color: gray;
  padding-bottom: 50px;
}

.catchcopy h1{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%,-50%);
  color: gray;
  font-size: 60px;
  
}

.catchcopy p{
  /* background-color: green; */
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.catchcopy img{
  width: 100%;
}

.item ul{
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
}

.item ul li{
  border-style: solid;
  border-width: 1px;
  padding: 30px 20px 10px 20px;
  margin: 10px auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 50;
  left: 50%;

}

.description{
 /* margin: 50px 0; */
}

.message-img{
  height: 400px;
  width: 50%;
  
}

.message-txt{
  background-color: gray;
  height: 400px;
  width: 50%;
  text-align: center;
}

.one{
  float: left;
}

.message-txt p{
  padding: 0 20px
}

.contact-wrapper{
}

.container{
  margin: 100px 300px;
  display: inline-block;
  background-color: aqua;
  width: 60%;
  text-align: center;
position: relative;
}

.container ul{
  list-style: none;
  float: left;
  padding-left: 200px;
}

.btn{
  background-color:aqua;
  padding: 20px 0;
  position: absolute;
  margin-top: 10px;
  color: black;
}
